{% extends "base.html" %}
{% block main %}
<main class="main main--search">
    <section class="main__search-box">
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
                <label class="form__label visuallyhidden" for="{{ field.name }}">{{ field.label }}</label>
                {{ field }}
            {% endfor %}
            <button type="submit" class="form__search-input">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </section>
    <noscript>Please enable javascript</noscript>
</main>
{% endblock main %}