*, *::before, *::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.main--search {
    background: rgba(234, 32, 39, 0.8);
}
.main--search::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('https://images7.alphacoders.com/536/thumb-1920-536426.png') no-repeat 75%;
    background-size: cover;
    z-index: -1;
}
.main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main__search-box {
    background: #fff;
    padding: 4px;
    border-radius: 2px;
}
.form__search-input {
    padding: 8px;
    border: 0;
    background: none;
    outline: rgba(234, 32, 39, 0.8);
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.top_info {
    width: 100%;
    display: flex;
    align-items: center;
    height: 30vh;
}
.top_info__icon {
    box-sizing: content-box;
    width: 100%;
    height: 100%;
}
.top_info__rank {
    height: 100px;
    margin: 0;
}
img.top_info__rank {
    height: 100px;
    box-sizing: content-box;
}
.rank__nickname {
    color: #fff;
    font-weight: 600;
    font-size: 1.3rem;
    margin: 0;
}
.top_info__icon_div {
    box-sizing: content-box;
    position: relative;
    min-width: 100px;
    max-width: 100px;
    height: 100px;
    margin: 15px;
}
.top_info {
    background: rgba(0, 0, 0, 0.6);
    position: relative;
}
.rank__level {
    margin: 0;
    font-weight: 500;
    color: #fff;
    font-size: .9rem;
}
span.level {
    font-weight: 600;
}
nav.queue {
    width: 100%;
    height: 35px;
    background: #ea2027;
    display: flex;
    align-items: center;
    overflow-x: auto;
}
.queue__type {
    background: none;
    outline: none;
    color: #fff;
    height: 100%;
    border: 0;
    padding: 0 15px;
}
.queue__type.active {
    background: #fff;
    color: #000;
    font-weight: 600;
}
main.rank_stats {
    position: relative;
    width: 100%;
}
.rank_section {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.rank_stats__img {
    margin: 0 10px;
    width: 100px;
    height: 100px;
}
.data__queue {
    font-size: 13px;
    margin: 8px 0 6px 0;
}
.data__rank {
    font-weight: 600;
    margin: 0;
    font-size: .9rem;
    margin-bottom: 6px;
}
.data__lp {
    font-weight: 600;
    margin: 0;
    font-size: .8rem;
    margin-bottom: 6px;
}
.win_stats {
    color: #879292;
    font-weight: 500;
}
.data__winrate {
    margin: 6px 0;
    font-size: .8rem;
    font-weight: normal;
}